img{
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 300px;
}

.tab {
    text-align: center;
    display: block;
    width: 300px;
    margin: auto;
    padding: 10px 0px;

}
.download {
    text-align: center;
    display: block;
    padding: 10px 0px;
    background: blue;
    color: white;
    border-radius: 4px;
    width: 100px;
    font-weight: bold;
    text-decoration: none;
    margin: auto;
    margin-top: 20px;
}

.download:hover{
    background-color: ;
    background: rgb(53, 53, 255);
    color: white;
}